body {
    background-size: cover;
}

.heading {
    width: 100%;
    color: white;
    margin: 0;
    font-size: 25px;
}

.note {
    color: white;
    font-size: 15px;
}

.object_name {
    color: lavender;
    font-size: 19px;
}

canvas {
    border: 5px solid aquamarine;
    border-radius: 20px;
    box-shadow: 15px 15px 15px palevioletred;
    margin-top: 100px;
}